@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
	font-family: d2;
	src: url('/font/D2Coding.woff2')
}

* {
	font-family: d2;
	margin: 0;
	padding: 0;
    box-sizing:border-box;
}
ul, li {
	list-style:none;
}


/* 0412 추가 및 변경 */
header {
	position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 150px;
    background-color: #FFFFFF;
    border: solid 3px #dcdcdc;
    margin: 0px;
    z-index: 3;
    border-inline: none;
    border-top: none;
}

section {
	position: absolute;
	width: 100vw;
	top: 25vh;
	text-align:center;
}

@media (max-width: 1300px) {
	section {
		position: absolute;
		width: 100vw;
		top: 18vh;
		text-align:center;
	}
}

notfooter {
	display: inline-block;
	position: relative;
	min-height: calc(100vh - 140px);
	width: 100%;
}

footer {
	position: relative;
	width: 100%;
	height: 140px;
	bottom: 0;
	margin-top: auto;
	text-align: left;
	border-top: 3px solid #dcdcdc;
    padding-bottom: 30px;
}

button {
	cursor: pointer;
}

 a{
 	text-decoration: none;
 }






/* HEADER */


/* 0412 추가 및 삭제 */
.div_member {
	position: absolute;
    width: 100%;
    height: 30px;
    text-align: right;
    z-index: 2;
    border: solid 1px #dcdcdc;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 5px 0 0 0;
}

#ul_member {
    position: relative;
    margin-right: 12px;
}

/* 0412 추가 */
#p_greetingNickname {
	cursor: context-menu;
}

/* 0412 추가 및 변경 */
.div_title{
	position: absolute;
    font-size: 30px;
    width: 100vw;
    height: 100px;
    text-align: center;
    top: 24px;
    cursor: pointer;
    color: rgb(37, 37, 37);
}

/* 0412 변경 */
.header_title_img {
	width: 100px;
    height: 100px;	
}

/* 0412 추가 및 변경 */
.header_title_name {
	position: relative;
    top: -33px;
    left: -15px;
    font-size: 40px;
    color: rgb(37, 37, 37);
    font-family: fantasy;
}

/* 0412 추가 및 변경 */
.header_member_text {
	height: 35px;
}

/* 0412 추가 및 변경 */
.a_memberText {
	margin: 0px 14px 0px -6px;
	cursor: pointer;
	vertical-align: middle;
}

/* 0412 추가 및 변경 */
.div_category{
	display: flex;
	position: relative;
	top: 74%;
	width:100%;
}

.a_categoryText {
	margin: 0px 25px 0px 21px;
	cursor: pointer;
}
.pnum {
	width: 28px;
	line-height: 28px;
}
.page:hover {
	background-image: url("/img/ui/pagination_hover.png");
	cursor:pointer;
}

/* HEADER_CATEGORY */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.category_btn, #a_notice, #a_inquiry{
  border : 0px;
  font-weight: 600;
  color : rgb(37, 37, 37);
  padding : 10px;
  width :150px;
  text-align: left;
  cursor : pointer;
  font-size : 15px;
  background-color: #FFFFFF;
}

.dropdown, #a_notice, #a_inquiry{
  position : relative;
  display : inline-block;
}

.dropdown-content{
  display : none;
  position : absolute;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 14px 20px;
  min-width : 150px;
}

.dropdown-content a:hover{
  background-color : #f5f5f5;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* HOME */

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
.slideshow-container .mySlides img {
  width: 90%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align:center;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  left: 5%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  right: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -1%;
  left: 5%;
}
.divdot {
  position: absolute;
  top: 92%;
  left: 48%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*베스트 아이템,Brand*/
.home_best{
	padding: 38px 0 0 0;
}

/*베스트,new_arrivals 아이템 제품*/
.div1 {
    text-align: center;
}
#best_menu_list {
	margin: 25px 0 60px 0;
}

.main_product_banner{
	position: relative;
	border-top: 1px solid #dcdcdc;
    padding-top: 25px;
    left: 2.5%;
    width: 95%;
}
.span_product_name{
	font-size:12px;
	color:#555555;
}
.span_product_price{
	font-size:12px;
	color:#555555;
	text-decoration:line-through;
}
.span_product_discount_price{
	font-size:13px;
	color:#000000;
	font-weight:bold;
}
.icon_img{
	margin: 2px;
}

.description span{
	display:block;
}

.productBox {
	margin: 0;
	padding: 0;
	width: 90%;
	height: 90%;
}

.description{
	padding:5px;
	text-align:center;
	margin:0 auto;
    font-size:12px;
    line-height:18px;
    display:block;
    font-weight:normal;
}

.title h3 {
    margin: 0;
    text-align: center;
}

.title h3 span:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 20px;
    margin-right: 38px;
    background: url("/img/ui/tit_bar_left.png") 100% 50% no-repeat;
    vertical-align: top;
}
.title h3 span {
    line-height: 20px;
    display:inline-block;
    height:20px;
    color:#2e2e2e;
    font-weight:bold;
    font-size:15px;
    letter-spacing:5px;
}
.title h3 span::after {
    content:"";
    display:inline-block;
    width:7px;
    height:20px;
    margin-left:30px;
    background:url("/img/ui/tit_bar_right.png") 100% 50% no-repeat;
    vertical-align: top;
}

.prdList {
    display: table;
    width: 100%;
    position: relative;
    left: 7px;
    margin: 25px 0 0;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #dcdcdc;
    padding-top: 25px;
}

.prdList > li {
    display: inline-block;
    position: relative;
}

.grid1 {
    text-align: center;
}

.grid1 > li {
    width: 22%;
}

.thumbnail {
    position: relative;
    margin: 0;
    text-align: center;
}

.thumbnail > a img {
    width: 100%;
    box-sizing: border-box;
}

.productBox {
    position: relative;
    margin: 0 6px;
    padding-bottom: 10px;
    border: 0px solid #ddd;
}

.description a {
    color:#2e2e2e;
}

.name {
    display:block;
    padding:10px 0;
    text-align:center;
    font-weight:normal;
}

.name a {
    color:#2e2e2e;
}

.spec {
    margin: 0 0 3px 0;
}

.spec li {
    text-align: center;
    line-height: 22px;
}



/* BRAND */

.brand_product_banner{
	position: relative;
	border-top: 1px solid #dcdcdc;
    padding-top: 25px;
    margin:25px 0 0;
}

#container {
	width: 92%;
    position: inherit;
    left: 9%;
}

.img {
  	display: none;
}

.img.on {
  	display: block;
  	width: 90%;
	height: 100%;
}



/* footer */

.inner {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.logo {
    position: inherit;
	left: 105px;
}

/* 0412 추가 및 변경 */
.footer_title_name {
	position: absolute;
    top: 50px;
    font-size: 50px;
    color: rgb(37, 37, 37);
    font-family: fantasy;
}
.footer_title_img {
	width:150px;
	height:150px;
}
.footerTopUtil {
	position: relative;
    top: -19px;
    left: 134px;
    margin-top: 20px;
}
.footerTopUtil ul li:first-child {
    background: none;
    padding-left: 0px;
}
.footerTopUtil ul li {
    float: left;
    padding: 0 15px;
    background: url(/img/ui/ico_bar2.gif) no-repeat 0 50%;
}
.footerTopUtil ul li a {
    color: #555;
}
.adress {
	position: relative;
	left: 134px;
}