#h1{
	font-size:35px;
	font-weight:bold;
}

#pw{
	position: relative;
	left: 37vw;
	width: 350px;
	margin-top: 90px;
}
#pw_a{
	border-bottom: 3px solid #333;
	padding:0px 0px 10px 0px;
	font-size:25px;
}
#secret_password{
	width:350px;
	height:30px;
}

#btnOk {
	width: 100%;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button:hover {        
  background-color: #808080;
  color: #ffffff;
  cursor: pointer;
}