@charset "UTF-8";

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

section {
	top: 13vh;
}

p {
	display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div {
    display: block;
}
h3 {
    display: block;
}
a {
    text-decoration: none;
    color: #000;
    outline: none;
}
a:-webkit-any-link {
    cursor: pointer;
}
img, fieldset {
    border: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
li {
    list-style: none;
}
.section_product {
    margin-top: 60px;
}
.pl_title {
    margin: 40px 60px 0 40px;
}
.section_product .pl_title {
    margin: 0 0 60px;
}
.pl_title h3 {
    margin: 0;
    text-align: center;
}
.div1 {
    text-align: center;
    margin: 20px 0 0;
}
.div1 img {
    vertical-align: middle;
}
.pl_title h3 span:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 20px;
    margin-right: 38px;
    background: url("/img/ui/tit_bar_left.png") 100% 50% no-repeat;
    vertical-align: top;
}
.pl_title h3 span {
    line-height: 20px;
    display:inline-block;
    height:20px;
    color:#2e2e2e;
    font-weight:bold;
    font-size:15px;
    letter-spacing:5px;
}
.pl_title h3 span::after {
    content:"";
    display:inline-block;
    width:7px;
    height:20px;
    margin-left:30px;
    background:url("/img/ui/tit_bar_right.png") 100% 50% no-repeat;
    vertical-align: top;
}
.div1 .prdList {
    display: table;
    width: 100%;
    position: relative;
    left: -6px;
    margin: -20px 0 0;
    font-size: 0;
    line-height: 0;
}
.div1 ul.grid1 > li {
    width: 22%;
}
.div1 .grid1 {
    text-align: center;
}
.div1 .prdList > li {
    position: relative;
    display: inline-block;
    margin: 20px 0 10px;
    color: #757575;
    vertical-align: top;
}
.div1 .prdList > li .productBox {
    position: relative;
    margin: 0 6px;
    padding-bottom: 10px;
    border: 0px solid #ddd;
}
.div1 .prdList .thumbnail {
    position: relative;
    margin: 0;
    text-align: center;
}
.div1 .prdList .thumbnail > a img {
    width: 100%;
    box-sizing: border-box;
}
.div1 .prdList .description {
    margin:0 auto;
    padding:0 7px;
    font-size:12px;
    line-height:18px;
    text-align:center;
}
.div1 .prdList .description .name {
    display:block;
    padding:10px 0;
    text-align:center;
    font-weight:normal;
}
.div1 .prdList .description .name a {
    color:#2e2e2e;
}
.div1 .spec {
    margin: 0 0 3px 0;
}
.div1 .spec li {
    text-align: center;
    line-height: 22px;
}
.categorydiv {
    position: relative;
    text-align: center;
}
#category {
	width: 90vw;
}
.categorydiv .categoryul {
    line-height:0;
    font-size:0;
    margin: auto;
}
.categorydiv .categoryul > li.category {
    background: url("/img/ui/menucategory_arrow_off.png") no-repeat 98% 50%;
    position: relative;
    width: 220px;
    margin: 5px 5px;
    border: 1px solid #ddd;
    color: black;
    font-size: 12px;
    line-height: 10px;
    vertical-align: top;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.categorydiv .categoryul > li{
    display: inline-block;
    padding: 10px 20px 10px 10px;
    color: #a0a0a0;
    cursor: pointer;
}
.div1-1 {
	padding: 0 0 0 72px;
	text-align: right;
}
.prdcount {
	float: left;
    color: #000001;
    font-size: 20px;
}

.orderbyul {
	margin: auto;
	padding: 0 85px;
	font-size: 12px;
}
.div1-1 .orderbyul > li {
	display: inline;
	cursor: pointer;
}
.product_normal_package .normal_menu {
    margin: 0 0px 60px 0;
}
.normal_menu_pagination {
	text-align: center;
}
.normal_menu_pagination ul {
	display: inline-block;
    padding: 0;
    list-style-type: disc;
	
}
.normal_menu_pagination ul li {
	display: inherit;
	padding: 0;
	margin: 0 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.page {
	font-weight: 700;
	cursor: pointer;
}